
/* config-font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* config-body */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
    background-color: #1C1C1C;
}

/* config-header */

:root {

    --gray: rgb(230, 223, 223, 0.5);
}
.img-porquinho{
    width: 15vw;
    border: #2F4F4F solid 4px;
    border-radius: 50%;
}

/* tags */

body{
    background-image: url("https://miro.medium.com/max/700/1*-q0EquBzyvfHHkFvsKTV5A.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */


header{
    width: 70%;    
    height: 35vh;
    padding: 1rem;
    margin: 2rem auto;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--gray);
}

.box-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-title {
    text-align: center;
}
.second-title {
    text-align: center;
}


header h1 {
    text-transform: uppercase;
}
header p {
    font-size: 1rem;
}

/* main */

main{
    width: 70%;
    padding: 1rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray);
}

main h2 {
    margin-top: 2rem;
    color: #000;
}

.box-text {
    width: 25vw;
    height: 20vh;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #2F4F4F;
    border-radius: 20px;
}
.text-main {
    font-size: 0.75em;
    text-align: center;
}

/* .box-list */

.box-list{
    background-color: #2F4F4F;
    width: 30vw;
    height: 100%;
    border-radius: 20px;
    margin-top: 20px;
}
ul {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.box-list li{
    width: 100%;
    height: 1.5rem;
    padding: 2rem;
    list-style: none ;
    
    color: #fff;
}
.box-list li:hover {
    width: 80%;
    background-color: rgb(66, 5, 66);
    transition: 0.2s;
}
/* footer */

footer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    font-weight: bold;
}


