*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: aqua ;
}
.img-porquinho{
    width: 15vw;
    border-radius: 50%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-list{
    background-color: purple;
    width: 30vw;
    margin-top: 5%;
}
.box-list li{
    color: #fff;
}